/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');
/* CSS VARIABLES */
:root {

    /* Colors */
    --bg-color: hsl(233, 47%, 7%);
    --card-bg: hsl(244, 38%, 16%);
    --accent: hsl(277, 64%, 61%);
    --text-color: hsla(0, 0%, 100%, 0.75);
    --stats-color: hsla(0, 0%, 100%, 0.6);
    --white: hsl(0, 0%, 100%);

    /* Fonts and typography */
    --primary-font: 'Inter', sans-serif;
    --secondary-font: 'Lexend Deca', sans-serif;
    --bigger-font-size: 1.75rem;
    --big-font-size: 1rem;
    --normal-font-size: .9375rem;
    --smaller-font-size: .875rem;

    /* Font weights */
    --font-normal: 400;
    --font-bold: 700;
}

@media screen and (min-width: 1024px) {
    :root {
        --biggest-font-size: 2.25rem;
        --bigger-font-size: 2rem;
        --big-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --smaller-font-size: .9375rem;
        --smallest-font-size: .75rem;
    }
}

/* BASE STYLES */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--primary-font);
    background-color: var(--bg-color);
    color: var(--white);
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    font-family: var(--primary-font);
}

p {
    font-family: var(--primary-font);
}

/* REUSABLE CSS */
.container {
    margin-inline: 1rem;
}

.main {
    padding-top: 2.75rem;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

/* HERO */
.hero__container {
    position: relative;
    background-color: var(--card-bg);
    border-radius: 1rem;
    overflow: hidden;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
}

.hero__image-container {
    background-color: var(--accent);
}

.hero__img-mobile,
.hero__img-desktop {
    mix-blend-mode: multiply;
    opacity: .75;
}

.hero__img-mobile {
    height: 100%;
}

.hero__image-container {
    margin-bottom: 1.5rem;
}

.hero__data {
    margin-inline: 1.5rem;
}

.hero__title {
    font-size: var(--bigger-font-size);
    text-align: center;
    margin-bottom: 1.25rem;
}

.hero__title span {
    color: var(--accent);
}

.hero__description {
    text-align: center;
    color: var(--text-color);
    font-size: var(--big-font-size);
    line-height: 1.5;
    margin-bottom: 2.25rem;
}

.hero__details {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.hero__stats-detail {
    display: block;
    text-align: center;
    font-size: var(--bigger-font-size);
    font-weight: var(--font-bold);
    margin-bottom: .5rem;
}

.hero__stats-label {
    font-family: var(--secondary-font);
    font-size: var(--smaller-font-size);
    letter-spacing: 1px;
    color: var(--stats-color);
    text-transform: uppercase;
}

/* BREAKPOINTS */
@media screen and (min-width: 425px) {
    .container {
        margin-inline: auto;
    }

    .hero__container {
        max-width: 327px;
    }
}

@media screen and (min-width: 1200px){
    .main {
        padding-top: 10rem;
    }

    .hero__container {
        max-width: 1110px;
        grid-template-columns: 1fr 540px;
        padding-bottom: 0;
        border-radius: .5rem;
    }

    .hero__image-container {
        order: 2;
        margin-bottom: 0;
    }

    .hero__data {
        order: 1;
        margin: 0;
        padding: 5rem 5rem 4rem;
    }

    .hero__title,
    .hero__description {
        text-align: initial;
    }

    .hero__title {
        font-size: var(--biggest-font-size);
        margin-bottom: 1.5rem;
    }

    .hero__description {
        font-size: var(--smaller-font-size);
        width: 95%;
        margin-bottom: 5.25rem;
    }

    .hero__details {
        flex-direction: initial;
        gap: 4rem;
    }

    .hero__stats-detail {
        text-align: initial;
        font-size: 1.5rem;
    }

    .hero__stats-label {
        font-size: var(--smallest-font-size);
    }
}